extends layout

block form

    table.leaderboard
        thead
        tr
          th Nom 
          th Date 
          th Score 
          th Assistance
          th Logfile
        each user in users 
            tr
              td #{user.player.name}
              td #{user.date}
              td #{user.score}
              td #{user.assistMode}
              td.download-container 
                a(href = "../images/download.png", download = "zouzizaza.png")
                  img(src = "../images/download.png")


    

block main-content
  div.main-content
    //TODO get theme & difficulty of puzzle according to back end
    h2.welcome-phrase Thème <span class = "underlined-color">#{users[0].grid.topic}</span>
    br
    p.brief-animated Difficulté <span class = "underlined-color">#{users[0].grid.difficulty}</span>

    block form



block navbar
  .navbar 
    .navbar-left
      a#app-title(href = "/") #{app_name}


    .navbar-mid
      a.navbar-mid-link(href = "/") Accueil
      each page in pages
        a.navbar-mid-link(href = page.link) #{page.name}


    .navbar-right
      // TODO: link with connexion link with back-end here
      a(href = "/connect") Connexion